.header {
	width: 100%;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 1rem 5%;
	height: 5rem;
	background-color: var(--quartery-dark);
	backdrop-filter: blur(1rem);
	box-shadow: 0 0.1rem 0.5rem var(--primary-dark);
}

.logo {
	font-size: var(--large-text-size);
	font-family: 'Fira', sans-serif;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--secondary-light);
}

.logo a {
	text-decoration: none;
	color: var(--primary-light);
}

.navigation a {
	text-decoration: none;
	color: var(--primary-light);
	font-size: 1rem;
}

@media (min-width: 768px) {
	.logo {
		font-size: 2.5rem;
	}

	.navigation a {
		font-size: 1.5rem;
	}
}
