.item {
	display: flex;
	font-size: var(--small-text-size);
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: var(--secondary-light);
}

.item span {
	display: block;
}

.icon {
	margin-right: 1rem;
	color: var(--secondary-light);
}

.icon svg {
	width: 2rem;
	height: 2rem;
}

@media (min-width: 768px) {
	.item {
		align-items: flex-start;
		text-align: left;
	}
}
